.btn--rosado {
  background-color: rgb(230, 209, 212);
  color: rgb(228, 20, 20);
}

.btn--celeste {
  background-color: #4e79d6;
  color: rgb(228, 20, 20);
}

.btn--marron {
  background-color: rgba(192, 103, 61, 0.4862745098);
  color: rgb(228, 20, 20);
}

.btn--verdeoscuro {
  background-color: rgb(13, 121, 13);
  color: rgb(228, 20, 20);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  justify-content: center;
}

footer {
  background-color: rgb(241, 211, 216);
}

.btn-primary {
  background-color: white;
  color: black;
}

.boton_alquiler {
  margin-left: 50%;
}

.eliminar-modal {
  margin-left: 90%;
}

.transformacion {
  background-color: rgb(230, 209, 212);
}

.boton-carrito {
  margin-top: 16px;
}
.boton-carrito span {
  font-size: small;
}
.boton-carrito button {
  background-color: rgb(243, 201, 208);
}

.card {
  padding: 0;
  margin: 0;
}

.card-title-index {
  text-align: center;
}

.btn-card {
  align-self: center;
}

.nacionalycontactanos {
  --bs-gutter-x: 0.5 rem;
}

.imgcover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mtop {
  margin-top: 3px;
}

.contenedorGrid {
  display: grid;
  grid-template-columns: 7fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "searchbar searchbar" "principal ad" "footer footer";
}

.contenedor_grid_nacionales {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "principal_nacionales" "segunda_nacionales" "ad_nacionales" "tercera_nacionales";
}

.principal_nacionales {
  grid-area: principal_nacionales;
}

.segunda_nacionales {
  grid-area: segunda_nacionales;
}

.tercera_nacionales {
  grid-area: tercera_nacionales;
}

#ad_nacionales {
  grid-area: ad_nacionales;
}

.contenedor_grid_traslados {
  display: grid;
  grid-template-columns: 1fr 6fr auto;
  grid-template-rows: auto;
  grid-template-areas: "form content ad_traslados";
  background-color: rgb(247, 226, 225);
}

.traslados_content {
  grid-area: content;
}

.traslados_form {
  grid-area: form;
}

#ad_traslados {
  grid-area: ad_traslados;
}

.contenedor_grid_index {
  display: grid;
  grid-template-columns: 6fr auto;
  grid-template-rows: auto;
  grid-template-areas: "principal ad";
}

.segundogridindex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "alo tras";
}

.aloindex {
  grid-area: alo;
  display: flex;
  flex-direction: column;
}
.aloindex h3 {
  margin: 0px;
  padding: 0px;
}

.trasindex {
  grid-area: tras;
  display: flex;
  flex-direction: column;
}
.trasindex h3 {
  margin: 0px;
  padding: 0px;
}

.contenedor_grid_internacional {
  display: grid;
  grid-template-columns: 8fr auto;
  grid-template-rows: auto;
  grid-template-areas: "principal_internacional ad_internacional";
}
.contenedor_grid_internacional a {
  text-decoration: none;
}

#ad_internacional {
  grid-area: ad_internacional;
}

.principal_index {
  grid-area: principal;
}

.setup_footer {
  grid-area: footer;
}

.principal_internacional {
  grid-area: principal_internacional;
}

#ad {
  grid-area: ad;
}

.form_titulo_index {
  display: flex;
  justify-content: flex-end;
}

.titulos_menores {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.galeria_index {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.galeria_index img {
  width: 33%;
  overflow: auto;
}
.galeria_index a {
  text-decoration: none;
}

#ad_nacionales img {
  max-height: 200px;
  width: 100%;
}

#ad_traslados img {
  width: 100%;
  height: 100%;
}

#ad_internacional img {
  width: 100%;
  height: 100%;
}

#ad img {
  width: 100%;
  height: 100%;
}

.imagen2 {
  display: none;
}

.imagen1 {
  display: none;
}

.carrousel_label span {
  color: black;
  background-color: rgb(243, 223, 226);
}

.carousel-item {
  max-height: 900px;
  width: 100%;
}

.carousel-item img {
  -o-object-fit: auto;
     object-fit: auto;
  max-height: 900px;
  width: 100%;
}

.animate__bounce {
  --animate-duration: 3s;
}

.transformacion:hover {
  background-color: rgb(13, 121, 13);
  transition: 2s;
}

.mini_titulo_form_traslados {
  font-size: large;
}

.titulo_traslados_form {
  font-size: 130%;
}

.traslados_form {
  align-self: center;
}
.traslados_form label {
  display: block;
}

.encabezado_sector {
  text-align: center;
}
.encabezado_sector label {
  font-size: medium;
  font-family: sans-serif;
}
.encabezado_sector select {
  font-size: medium;
}
.encabezado_sector input {
  font-size: large;
}

.precio_viejo {
  text-decoration: line-through;
}

.labelcenter {
  text-align: center;
  display: block;
}

.background_form_contactanos {
  background-color: rgb(250, 231, 196);
  color: black;
}

.estado1 {
  display: inline-block;
}

.estado2 {
  display: none;
}

@media (max-width: 991px) {
  .nav-item {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .contenedor_grid_index {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "ad ad" "principal principal";
  }
  .segundogridindex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "alo" "tras";
  }
  .contenedor_grid_internacional {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "ad_internacional ad_internacional" "principal_internacional principal_internacional";
  }
  #ad_internacional {
    max-height: 200px;
  }
  .contenedor_grid_traslados {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "ad_traslados ad_traslados" "form form" "content content";
  }
  #ad_traslados {
    max-height: 200px;
  }
  .armado_barra_traslados {
    font-size: medium;
  }
  .armado_barra_traslados h3 {
    text-align: center;
    color: white;
    font-family: sans-serif;
  }
  .armado_barra_traslados div {
    display: inline-block;
    margin: 7px;
    padding: 5px;
    font-size: large;
  }
  .armado_barra_traslados label {
    color: white;
    font-size: x-large;
  }
  #ad {
    height: 180px;
  }
  .carrousel_label {
    font-size: medium;
  }
  .galeria_paq_internacionales_titulo {
    font-size: medium;
  }
  #ad_nacionales img {
    max-height: 200px;
  }
  .imagen1 {
    display: none;
  }
  .imagen2 {
    display: block;
  }
  .estado1 {
    display: none;
  }
  .estado2 {
    display: inline-block;
  }
}/*# sourceMappingURL=main.css.map */