* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  justify-content: center;
}

.contenedorGrid {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "searchbar searchbar"
    "principal ad"
    "footer footer";
}

#ad_nacionales img {
  width: 100%;
  max-height: 300px;
}

.contenedor_grid_nacionales {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "principal_nacionales"
    "segunda_nacionales"
    "ad_nacionales"
    "tercera_nacionales";
}

.principal_nacionales {
  grid-area: principal_nacionales;
}

.segunda_nacionales {
  grid-area: segunda_nacionales;
}

.tercera_nacionales {
  grid-area: tercera_nacionales;
}

.armado_paq_index label {
  color: white;
}

#ad_nacionales {
  grid-area: ad_nacionales;
}


.barra {
  background-color: rgb(9, 9, 141);
  padding: 0;
  margin: 0;
}

#ad img {
  display: flex;
  width: 100%;
  height: 100%;
}

.principal_index {
  grid-area: principal;
}

.setup_footer {
  grid-area: footer;
}

.contenedor_grid_traslados {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "form content ad";
}

.traslados_content {
  grid-area: content;
}

#ad_traslados {
  grid-area: ad;
}

#ad_traslados img {
  width: 100%;
  height: 100%;
}

.mini_titulo_form_traslados {
  font-size: large;
}

.traslados_form {
  align-self: center;
}

.boton_alquiler {
  margin-left: 50%;
  background-color: pink;
  color: red;
}

.traslados_form {
  grid-area: form;
}

.menuNavegador {
  display: flex;
  font-family: sans-serif;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  background-color: rgb(228, 198, 198);
}

.menuNavegador img {
  height: 5vh;
}

.menuNavegador .menuSeleccionado {
  background-color: aqua;
}

.menuNavegador li {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

.menuNavegador li a {
  font-size: 2vh;
  text-decoration: none;
  padding: 3px;
}

.galeria_traslados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55rem;
  position: relative;
}

.galeria_traslados_titulo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
}

.galeria_traslados form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
}

.titulo_traslados_form {
  font-size: 130%;
}



.button_alquiler_auto {
  background-color: rgb(253, 237, 5);
  font-size: larger;
}

.texto {
  position: absolute;
  font-size: larger;
  background-color: rgb(41, 223, 236);
  font-family: sans-serif;
}

.volkswagen_virtus {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}


.armado_paq_index h3 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.armado_paq_index div {
  display: inline-block;
  margin: 7px;
  padding: 5px;
  font-size: large;
}

.armado_barra_traslados h3 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.armado_barra_traslados div {
  display: inline-block;
  margin: 7px;
  padding: 5px;
  font-size: large;
}

.armado_barra_traslados label {
  color: white;
  font-size: x-large;
}

.btn-primary {
  background-color: white;
  color: black;
}

.button-ancho {
  margin-left: 3%;
  width: 6%;
  height: 3vh;
  background-color: white;
}

.button-ancho2 {
  margin-left: 8px;
  font-size: 18px;
  width: 80px;
  background-color: aqua;
}

.button-ancho3 {
  margin-left: 10px;
  font-size: 20px;
  width: 120px;
  background-color: aqua;
}

.encabezado_sector {
  text-align: center;
}

.encabezado_sector label {
  font-size: medium;
  font-family: sans-serif;
}

.encabezado_sector select {
  font-size: medium;
}

.form_titulo_index {
  display: flex;
  justify-content: flex-end;
}

.encabezado_sector input {
  font-size: large;
}

.titulos_menores {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.galeria_index {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.galeria_index img {
  width: 33%;
  overflow: auto;
}

.galeria_index a {
  text-decoration: none;
}

.setup_footer {
  background-color: rgb(228, 198, 198);
  display: flex;
}

.divs_footer {
  width: 33%;
  display: inline-block;
}

footer {
  background-color: #deded5;
}

nav {
  background-color: #deded5;
}

.contenedor_grid_index {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "principal ad";
}

.contenedor_grid_internacional {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "principal_internacional ad_internacional";
}

#ad_internacional {
  grid-area: ad_internacional;
}

.principal_internacional {
  grid-area: principal_internacional;
}


#ad {
  grid-area: ad;
}


.card {
  padding: 0;
  margin: 0;
}

.animate__animatedanimate__bounce {
  --animate-duration: 3s;
}

.transformacion:hover {
  background-color: green;
  transition: 2s;
}

.card-title-index {
  text-align: center;
}

.btn-card {
  align-self: center;
}

@media (max-width: 767px) {
  .contenedor_grid_index {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "ad ad"
      "principal principal";
  }

  .contenedor_grid_internacional {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "ad_internacional ad_internacional"
      "principal_internacional principal_internacional";
  }

  #ad_internacional {
    max-height: 200px;
  }

  .contenedor_grid_traslados {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas: "ad ad"
      "form content";
  }

  #ad_traslados {
    width: 100%;
    max-height: 200px;
  }

  .armado_barra_traslados {
    font-size: medium;
  }

  #ad {
    max-height: 200px;
  }

  .carrousel_label {
    font-size: medium;
  }

  .galeria_paq_internacionales_titulo {
    font-size: medium;
  }

  #ad_nacionales img {
    max-height: 200px;
  }
}

.precio_viejo {
  text-decoration: line-through;
}

#ad_internacional img {
  width: 100%;
  height: 100%;
}

.carrousel_label span {
  color: black;
  background-color: white;
}

.contenedor_grid_internacional a {
  text-decoration: none;
}