.contenedorGrid {
  display: grid;
  grid-template-columns: 7fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "searchbar searchbar"
    "principal ad"
    "footer footer";
}

.contenedor_grid_nacionales {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "principal_nacionales"
    "segunda_nacionales"
    "ad_nacionales"
    "tercera_nacionales";
}

.contenedor_grid_traslados {
  display: grid;
  grid-template-columns: 1fr 6fr auto;
  grid-template-rows: auto;
  grid-template-areas: "form content ad";
  background-color: $background_alojamiento;
}

.contenedor_grid_index {
  display: grid;
  grid-template-columns: 6fr auto;
  grid-template-rows: auto;
  grid-template-areas: "principal ad";
}

.contenedor_grid_internacional {
  display: grid;
  grid-template-columns: 8fr auto;
  grid-template-rows: auto;
  grid-template-areas: "principal_internacional ad_internacional";

  a {
    text-decoration: none;
  }
}

.principal_nacionales {
  grid-area: principal_nacionales;
}

.segunda_nacionales {
  grid-area: segunda_nacionales;
}

.tercera_nacionales {
  grid-area: tercera_nacionales;
}

.principal_index {
  grid-area: principal;
}

.setup_footer {
  grid-area: footer;
}

.traslados_content {
  grid-area: content;
}

.traslados_form {
  grid-area: form;
}

.principal_internacional {
  grid-area: principal_internacional;
}

#ad {
  grid-area: ad;
}