.contenedorGrid {
  display: grid;
  grid-template-columns: 7fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "searchbar searchbar"
    "principal ad"
    "footer footer";
}

//Comienzo Grid Nacionales
.contenedor_grid_nacionales {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "principal_nacionales"
    "segunda_nacionales"
    "ad_nacionales"
    "tercera_nacionales";
}

.principal_nacionales {
  grid-area: principal_nacionales;
}

.segunda_nacionales {
  grid-area: segunda_nacionales;
}

.tercera_nacionales {
  grid-area: tercera_nacionales;
}

#ad_nacionales {
  grid-area: ad_nacionales;
}

//Fin Grid Nacionales

//Comienzo Grid Traslados
.contenedor_grid_traslados {
  display: grid;
  grid-template-columns: 1fr 6fr auto;
  grid-template-rows: auto;
  grid-template-areas: "form content ad_traslados";
  background-color: $background_alojamiento;
}

.traslados_content {
  grid-area: content;
}

.traslados_form {
  grid-area: form;
}

#ad_traslados {
  grid-area: ad_traslados;
}


//Fin Grid Traslados
//primer grid index
.contenedor_grid_index {
  display: grid;
  grid-template-columns: 6fr auto;
  grid-template-rows: auto;
  grid-template-areas: "principal ad";
}

//Segundo Grid Index
.segundogridindex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "alo tras";
}

.aloindex {
  grid-area: alo;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0px;
    padding: 0px;
  }
}

.trasindex {
  grid-area: tras;
  display: flex;
  flex-direction: column;


  h3 {
    margin: 0px;
    padding: 0px;
  }
}

//Grid Paq. Internacionales
.contenedor_grid_internacional {
  display: grid;
  grid-template-columns: 8fr auto;
  grid-template-rows: auto;
  grid-template-areas: "principal_internacional ad_internacional";

  a {
    text-decoration: none;
  }
}

#ad_internacional {
  grid-area: ad_internacional;
}

.principal_index {
  grid-area: principal;
}

.setup_footer {
  grid-area: footer;
}

.principal_internacional {
  grid-area: principal_internacional;
}

#ad {
  grid-area: ad;
}