//Personalización Ads
#ad_nacionales {
    img {
        @include max_height (200px);
        width: 100%;
    }
}

#ad_traslados {
    img {
        width: 100%;
        height: 100%;
    }
}

#ad_internacional {
    img {
        width: 100%;
        height: 100%;
    }
}

#ad img {
    width: 100%;
    height: 100%;
}

//Los "ads" Se esconden en pantallas grandes y en _mediaqueries se muestran.
.imagen2 {
    display: none;
}

.imagen1 {
    display: none;
}