    .animate__bounce {
        --animate-duration: 3s;
    }

    //Hover en botones "Mas Informacion".
    .transformacion:hover {
        background-color: $hover_button_color;
        transition: 2s;
    }