/* No estan implementadas estas barras.
.armado_barra_traslados h3 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.armado_barra_traslados div {
  display: inline-block;
  margin: 7px;
  padding: 5px;
  font-size: large;
}

.armado_barra_traslados label {
  color: white;
  font-size: x-large;
}

.armado_barra_traslados {
  font-size: medium;
}


.barra {
  background-color: rgb(9, 9, 141);
  padding: 0;
  margin: 0;
}
*/