//Color de fondo y texto
.btn-primary {
  background-color: white;
  color: black;
}

//Boton Alquiler Traslados-Aloj.
.boton_alquiler {
  margin-left: 50%;
}

.transformacion {
  background-color: map-get($colores, rosado)
}

//Para colores de botones, Ver $colores en _colores. Llamar con .btn--(nombrecolor)