.btn-primary {
  background-color: white;
  color: black;
}

.boton_alquiler {
  margin-left: 50%;
  background-color: pink;
  color: red;
}

.button_alquiler_auto {
  background-color: rgb(253, 237, 5);
  font-size: larger;
}