.btn-primary {
  background-color: white;
  color: black;
}

.boton_alquiler {
  margin-left: 50%;
}

.button_alquiler_auto {
  background-color: rgb(253, 237, 5);
  font-size: larger;
}

.transformacion {
  background-color: map-get($colores, rosado)
}