//Paq Internacionales- Label: Color de fondo del span y letra y caracteristicas de imagenes.
.carrousel_label span {
    color: black;
    background-color: $color_label_inter;
}

.carousel-item {
    max-height: 900px;
    width: 100%;
}

.carousel-item img {
    object-fit: auto;
    max-height: 900px;
    width: 100%;
}