//Form Traslados Texto
.mini_titulo_form_traslados {
    font-size: large;
}

.titulo_traslados_form {
    font-size: 130%;
}

//Form Traslados display
.traslados_form {
    align-self: center;

    label {
        display: block;
    }
}


//Encabezado Sector index
.encabezado_sector {
    text-align: center;

    label {
        font-size: medium;
        font-family: sans-serif;
    }

    select {
        font-size: medium;
    }

    input {
        font-size: large;
    }
}

//Ofertas Paq Nacionales.
.precio_viejo {
    text-decoration: line-through;
}

.labelcenter {
    text-align: center;
    display: block;
}



//Form Contactanos- Color texto y fondo.
.background_form_contactanos {
    background-color: $background_form_contactanos;
    color: black;
}

//Displays en el form, para que quede mejor en responsive-Se agrega un "select" y se borra un type:radio
.estado1 {
    display: inline-block;

}

.estado2 {
    display: none;
}