@media (max-width: 767px) {
  .contenedor_grid_index {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "ad ad"
      "principal principal";
  }

  .contenedor_grid_internacional {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "ad_internacional ad_internacional"
      "principal_internacional principal_internacional";
  }

  #ad_internacional {
    @include max_height (200px);
  }

  .contenedor_grid_traslados {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas: "ad ad"
      "form content";
  }

  #ad_traslados {
    @include max_height (200px);
  }

  .armado_barra_traslados {
    font-size: medium;

    h3 {
      text-align: center;
      color: white;
      font-family: sans-serif;
    }

    div {
      display: inline-block;
      margin: 7px;
      padding: 5px;
      font-size: large;
    }

    label {
      color: white;
      font-size: x-large;
    }
  }

  #ad {
    height: 180px;
  }

  .carrousel_label {
    font-size: medium;
  }

  .galeria_paq_internacionales_titulo {
    font-size: medium;
  }

  #ad_nacionales img {
    @include max_height (200px);
  }

  .imagen1 {
    display: none;
  }

  .imagen2 {
    display: block;
  }
}